<!DOCTYPE html>
<html {{ site.language_attributes }} class="scroll-smooth">
	<head>
		<meta charset="{{ site.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ theme.link }}/style.css">
		{{ function('wp_head') }}
	</head>
	<body class="bg-white">
		{% block header %}
			<header class="">
				<a class="skip-link" href='#main'>Skip to content</a>
				{% include "/partials/header.twig" %}
			</header>
		{% endblock %}

		<main role="main">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			{% include './partials/footer.twig' %}
		{% endblock %}
		{{ function('wp_footer') }}
	</body>
</html>
